<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Anony-Moose</title>
    <link rel="stylesheet" href="styles/root.css" />
    <link rel="stylesheet" href="styles/navbar.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="icon" href="icons/moose_favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="index-container">
      <% if (locals.user) { %>
      <h1 class="index-welcome-message">Welcome Back, <%= user.username %>!</h1>
      <div class="index-links">
        <form action="/logout" method="POST">
          <button type="submit" class="index-logout-button">Log Out</button>
        </form>
        <a href="/message-board" class="index-link-button"
          >Go to Message Board</a
        >
      </div>
      <% } else { %> <% if (errors) { %>
      <ul class="index-error-list">
        <% errorMessages.forEach(message => { %>
        <li class="index-error-item"><%= message %></li>
        <% }) %>
      </ul>
      <% } %>

      <h2 class="index-heading">Log in to access exclusive content</h2>

      <form action="/login" method="POST" class="index-form">
        <label for="username" class="index-label">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          class="index-input"
          required
        />

        <label for="password" class="index-label">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          class="index-input"
          required
        />

        <button type="submit" class="index-submit-button">Login</button>
      </form>

      <p class="index-register-text">
        Don't have an account?
        <a href="/register" class="index-register-link">Register here</a>.
      </p>
      <% } %>
    </div>
  </body>
</html>
