@import url("root.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-message);
}

body {
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.success-container {
  text-align: center;
  padding: 40px;
  background-color: var(--secondary-bg-color);
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border: ridge 3px var(--accent-color);
}

.success-container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--outline-color);
}

.success-container p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.login-link {
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.login-link:hover {
  background-color: var(--outline-color);
  color: black;
}
